html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0px;
}

/* Text Styles */
body {
  font-family: "Nunito", sans-serif;
}

.selected {
  box-shadow: 0px 0px 30px rgba(5, 22, 255, 0.5);
}
