# This is a basic workflow to help you get started with Actions

name: Build Svelte

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      
      - name: chimpwizards-npm-build
        # You may pin to the exact commit or the version.
        # uses: chimpwizards-pipeline/npm-build@fad8b0d15e902bd8ed2cb931b3be4bf34b70d3fd
        uses: chimpwizards-pipeline/npm-build@v1.0.7

      # Runs a set of commands using the runners shell
     # - name: Run npm build command
        # You may pin to the exact commit or the version.
        # uses: Adzz/yarn_command_action@56ed36b86d715869a3cf3d2a9b2de2aff7fa945e
      #  uses: Adzz/yarn_command_action@v1.0.0
      #  with:
          # Specify whether to use npm or yarn to run the tests. May be npm or yarn only defaults to yarn
       #   package-manager: npm
          # The command you wish to run e.g. test
       #   command: run build
